html {
  scroll-behavior: smooth;
}
body {
    background-color: #8CA0B1;
}
#mypic {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
.text {
    color: #24344D;
}
.card-cover {
  aspect-ratio: 1/1;
}
.no-underline {
  text-decoration: none;
}
.card:hover {
  transform: scale(1.05);
  transition: all 0.3s ease;
}
.text-image-container {
  display: flex; /* Aligns the image and text side by side */
  align-items: center; /* Vertically centers the image and text */
}
.text {
  padding-left: 55px;
}
.last {
  padding-left: 60px;
}
.pic {
  padding-right: 100px;
}
