body {
    background-color: #7BAAF7;
}
.border-bottom {
    color: #FFFFFF;
}
.bheading {
    font-family: "Nunito", sans-serif;
    padding-left: 200px;
    color: black;
}
.text {
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 15px;
    color: #212529;
    line-height: 1.7;
    padding-left: 200px;
    padding-right: 150px;
}
@media (max-width: 768px) {
    .text {
        padding-left: 10px;
        padding-right: 0px;
    }
    .bheading {
        padding-left: 10px;
    }
}