body {
    background-color: #7BAAF7;
}
.border-bottom {
    color: #FFFFFF;
}
.bheading {
    padding-left: 200px;
    color: black;
}
.text {
    font-size: 50px;
    color: #212529;
    font: normal 400 15px Lora, serif;
    line-height: 1.7;
    padding-left: 200px;
    padding-right: 150px;
}
@media (max-width: 768px) {
    .text {
        padding-left: 10px;
        padding-right: 0px;
    }
    .bheading {
        padding-left: 10px;
    }
}