body {
    background-color: blanchedalmond;
    color: brown;
}
.great-vibes-regular {
    padding-left: 200px;
    font-family: "Great Vibes", cursive;
    font-weight: 400;
    font-style: normal;
}
.great-vibes-regular1 {
    font-family: "Great Vibes", cursive;
    font-weight: 400;
    font-style: normal;
}
.size-bada {
    font-size: 20px;
}
.no-underline {
    text-decoration: none;
}
#footer {
    border-top: 1px solid rgb(66, 9, 9) !important; 
}
.border-bottom {
    border-bottom: 1px solid rgb(66, 9, 9) !important;
}
@media (max-width: 768px) {
    .great-vibes-regular {
        padding-left: 50px;
    }
}
@media (max-width: 576px) {
    .great-vibes-regular {
        padding-left: 15px;
    }
}